extends admin-layout

block append stylesheets
  link(rel="stylesheet", href="/admin_section/vendor/dropzone/dropzone.css")

block content
  include partials/admin-nav.pug
  .content-wrapper
    .container-fluid
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/admin/dashboard') Dashboard
        li.breadcrumb-item.active Add listing
      //- form(action=`/admin/upload-image` id="myImage" class="dropzone dz-clickable primary-dropzone" method="post")
        .dz-default.dz-message
          span Drag and drop
        button.btn.theme-btn#saveImage(type="submit") Upload Images

      .box_general.padding_bottom
        .header_box.version_2
          h2
            i.fa.fa-dollar
            | Upload Images
        form.mb-3(action=`/admin/upload-image/${listing.slug}` id="myImage" class="dropzone dz-clickable primary-dropzone" method="post")
          .dz-default.dz-message
            span Click to upload multiple images
        button.btn.btn-primary.btn_1.medium#saveImage(type="submit") Upload Images

      form.mb-5.header_image(action=`/admin/upload-header/${listing.slug}`, method="post" enctype="multipart/form-data")
        .box_general.padding_bottom
          .header_box.version_2
            h2
              i.fa.fa-dollar
              | Header Image
          if flashes.uploadHeaderSuccess
            .row
              .col-md-12
                .form-group
                  p(style="color:green") #{flashes.uploadHeaderSuccess}
          if flashes.uploadHeaderError
            .row
              .col-md-12
                .form-group
                  p(style="color:red") #{flashes.uploadHeaderError}
          .row
            .col-md-12
              .form-group
                input(type="file" id="input_header" name="header" accept=".jpg, .jpeg, .png")
        button.btn.btn-primary.btn_1.medium(type="submit") Upload Header Image

      form.mb-5.header_image(action=`/admin/populate`, method="post")
        .box_general.padding_bottom
          .header_box.version_2
            h2
              i.fa.fa-dollar
              | Populate Listings
          .row
            .col-md-12
              .form-group
                input.form-control(type="text" name="category")
        button.btn.btn-primary.btn_1.medium(type="submit") Populate

      form( action=`/admin/add-listing` method="post")   
        .box_general.padding_bottom
          .header_box.version_2
            h2
              i.fa.fa-file
              | #{title}
          .asterisk.my-3(style="color:red;")
            | * Required Fields   
          .row
            .col-md-6
              .form-group
                bold(style="color:red") * 
                label Listing Title
                input.form-control(type='text', value=listing.title, name='title', placeholder='Hotel Mariott' required)
            .col-md-6
              .form-group
                bold(style="color:red") * 
                label Category
                input.form-control(name='category' type="text" list="categories" required value=listing.category)
                datalist#categories
                  each category in categories
                    option= category
          .row
            .col-md-6
              .form-group
                bold(style="color:red") * 
                label Tags
                input.form-control(type='text' placeholder='Tags MUST be separated by commas' name='tags' required)
          .row
            .col-md-12
              .form-group
                bold(style="color:red") * 
                label Description
                .editor
                  textarea.form-control.note-codable(role='textbox', aria-multiline='true' name="description" rows="5" required) #{listing.description}
          .row
            .col-md-4
              .form-group
                bold(style="color:red") * 
                label Phone Number
                input.form-control(type='text' name='info[number]' value= listing.info ?  listing.info.number : '' required)
            .col-md-4
              .form-group
                label Web site
                input.form-control(type='text' name='info[website]' value= listing.info ? listing.info.website : '')
            .col-md-4
              .form-group
                bold(style="color:red") * 
                label Email
                input.form-control(type='text' name='info[email]' value=listing.info ? listing.info.email : '' required)
          .row
            .col-md-4
              .form-group
                label Facebook link (Optional)
                input.form-control(type='text' name='social_media[facebook]')
            .col-md-4
              .form-group
                label Twitter link (Optional)
                input.form-control(type='text' name='social_media[twitter]')
          //.row
            .col-md-12
              .form-group
                label Photos
        .box_general.padding_bottom
          .header_box.version_2
            h2
              i.fa.fa-map-marker
              |Location
          .row
            .col-md-6
              .form-group
                bold(style="color:red") * 
                label Select State
                .styled-select
                  select(name="info[state]" value=listing.info ? listing.info.state : '' required)
                    option Lagos
                    option Abuja
            .col-md-6
              .form-group
                bold(style="color:red") * 
                label Address
                input.form-control(type='text', value=listing.info ? listing.info.address : '' placeholder='ex. 250, Fifth Avenue...' name='info[address]' required)
        .box_general.padding_bottom
          .header_box.version_2
            h2 
              i.fa.fa-clock-o
              |Hours
          - const day = ["monday","tuesday","wednesday","thursday","friday","saturday","sunday"];
          each days in day
            .row
              .col-md-2
                label.fix_spacing #{days}
              .col-md-5
                .form-group
                  .styled-select
                    select(name=`hours[${days}]` required)
                      option Opening Time
                      option Closed
                      option 1 AM
                      option 2 AM
                      option 3 AM
                      option 4 AM
                      option 5 AM
                      option 6 AM
                      option 7 AM
                      option 8 AM
                      option 9 AM
                      option 10 AM
                      option 11 AM
                      option 12 AM
                      option 1 PM
                      option 2 PM
                      option 3 PM
                      option 4 PM
                      option 5 PM
                      option 6 PM
                      option 7 PM
                      option 8 PM
                      option 9 PM
                      option 10 PM
                      option 11 PM
                      option 12 PM
              .col-md-5
                .form-group
                  .styled-select
                    select(name=`hours[${days}]` required)
                      option Closing Time
                      option Closed
                      option 1 AM
                      option 2 AM
                      option 3 AM
                      option 4 AM
                      option 5 AM
                      option 6 AM
                      option 7 AM
                      option 8 AM
                      option 9 AM
                      option 10 AM
                      option 11 AM
                      option 12 AM
                      option 1 PM
                      option 2 PM
                      option 3 PM
                      option 4 PM
                      option 5 PM
                      option 6 PM
                      option 7 PM
                      option 8 PM
                      option 9 PM
                      option 10 PM
                      option 11 PM
                      option 12 PM
          // /row
          // /row
          // /box_general
        .box_general.padding_bottom
          .header_box.version_2
            h2
              i.fa.fa-dollar
              |Pricing
          .row
            .col-md-6
              .form-group
                bold(style="color:red") * 
                label Select Pricing Range
                .styled-select
                  select(name="info[price]" required)
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
          // /row
          // /box_general
        button.btn.btn-primary.btn_1.medium(type="submit") Save
  include partials/admin-footer.pug
  block append scripts
    script(src="/admin_section/vendor/dropzone/dropzone.js")
    script.
      Dropzone.options.myImage = {
        autoProcessQueue : false,
        acceptedFiles : '.png,.jpg.jpeg',
        uploadMultiple : true,
        maxFilesize : 5,
        maxFiles : 5,
        addRemoveLinks : true,
        init : function(){
          $('#saveImage').on('click', function(e){
            e.preventDefault();
            $('#myImage').get(0).dropzone.processQueue();
          })

          this.on('successmultiple', function(file,response){
            console.log(this.files);
            console.log(response);
          })

          this.on("maxfilesexceeded", function(file) {
            this.removeFile(file); 
          });

          this.on("error", function(error) {
            console.log(error)
          })
        }
      }