
extends layout

block content
    include partials/header-search.pug
    
    .sub_header_in.mt-0.sticky_header
      .container
        h5.text-light.text-center Listings Bookmarked : #[b #{listings.length}]
      // /container
    // /sub_header
    main
      .container.margin_60_35
        .row
          if listings.length
            each listing in listings
              .col-xl-4.col-lg-6.col-md-6
                .strip.grid
                  figure
                    a.wish_bt.liked
                    a(href=`/listing/${listing.slug}`)
                      img.img-fluid(src=listing.images && listing.images.length > 0 ? listing.images[0].secure_url : '/img/blog-3.jpg', alt='')
                      .read_more
                        span Read more
                    small #{listing.category}
                  .wrapper
                    h3
                      a(href=`/listing/${listing.slug}`) #{listing.title}
                    //small #{listing.info ? listing.info.address : ''}
                    p #{listing.description ? `${listing.description.slice(0,25)}...` : ''}
                    a.address(href=`https://maps.google.com/?q=${listing.info.address || ''}`, target='_blank') Get directions
                  ul
                    li
                      if listing.info.price
                      - for( var i = 0 ; i < listing.info.price; i++){
                        span(style="color:#32a067") $
                      - }
                    li
                      .score
                        if listing.reviews.length > 0
                          - const getRating = listing.reviews.map( ratings => ratings.rating).reduce((acc,val) => acc + val);
                          - const getAverage = ((getRating * 2)/listing.reviews.length).toFixed(1);
                          - const review = parseInt(getAverage);
                          - let className = "";
                          span
                            if review <= 3
                              - className = "poor";
                              | Poor
                            else if review > 3 && review <= 5
                              - className = "fair";
                              | Fair
                            else if review > 5 && review <= 7
                              - className = "good";
                              | Good
                            else if review > 7 && review <= 10
                              - className = "superb";
                              | Superb
                            em #{listing.reviews.length} Reviews
                          strong(class=className) #{getAverage}
          // /strip grid
      //.bg_color_1
        .container.margin_60_35
          .row
            .col-lg-4
              a.boxed_list(href='#0')
                i.pe-7s-help2
                h4 Need Help? Contact us
                //- p Cum appareat maiestatis interpretaris et, et sit.
            .col-lg-4
              a.boxed_list(href='#0')
                i.pe-7s-wallet
                h4 Payments
                //- p Qui ea nemore eruditi, magna prima possit eu mei.
            .col-lg-4
              a.boxed_list(href='#0')
                i.pe-7s-note2
                h4 Cancel Policy
                //- p Hinc vituperata sed ut, pro laudem nonumes ex.
    
    //- include partials/paginate.pug
    include partials/footer.pug