
extends layout

block content
  include partials/header-search.pug
  main
    #results
      .container
        form(method='post', action='/search-listings')
          .row
            .col-lg-3.col-md-4.col-10
              h4
                if itemCount
                  strong #{itemCount}
                  |   Results found
                else
                  strong 0 Results found
            .col-lg-9.col-md-8.col-2
              a.side_panel.btn_search_mobile(href='#0')
              // /open search panel
              .row.no-gutters.custom-search-input-2.inner
                .col-lg-4
                  .form-group.search-div
                    input.form-control(type='text', name='title' id='search-field' autocomplete="off" placeholder='What are you looking for...')
                    i.icon_search
                    .search__results
                .col-lg-4
                  .form-group
                    input.form-control(type='text', name='location' placeholder='Where')
                    i.icon_pin_alt
                .col-lg-3
                  select.wide(name="category")
                    option(value="") All Categories
                    option(value="shops") Shops
                    option(value="hotel") Hotel
                    option(value="restaurant") Restaurants
                    option(value="bars") Bars
                    option(value="events") Events
                    option(value="fitness") Fitness
                .col-lg-1
                  input(type='submit', value='Search')
        // /row
        // /container
        // /results
    .filters_listing.sticky_horizontal
      .container
        ul.clearfix
          li
            .switch-field
              input#all(type='radio', name='listing_filter', value='all', checked='')
              label(for='all') All
              input#popular(type='radio', name='listing_filter', value='popular')
              label(for='popular') Popular
              input#latest(type='radio', name='listing_filter', value='latest')
              label(for='latest') Latest
          li
            a.btn_filt(data-toggle='collapse', href='#filters', aria-expanded='false', aria-controls='filters', data-text-swap='Less filters', data-text-original='More filters') More filters
      // /container
      // /filters
    #collapseMap.collapse
      #map.map
      // /Map
    #filters.collapse
      .container.margin_30_5
        form(action="/api/filter" method="post")
          .row
            .col-md-4
              h6 Rating
              ul
                li
                  label.container_check
                    | Superb (5)
                    input(type='checkbox' name="rating[]" value="5")
                    span.checkmark
                li
                  label.container_check
                    | Very Good (4)
                    input(type='checkbox' name="rating[]" value="4")
                    span.checkmark
                li
                  label.container_check
                    | Good (3)
                    input(type='checkbox' name="rating[]" value="3")
                    span.checkmark
                li
                label.container_check
                  | Okay (2)
                  input(type='checkbox' name="rating[]" value="2")
                  span.checkmark
                li
                  label.container_check
                    | Pleasant (1) 
                    input(type='checkbox' name="rating[]" value="1")
                    span.checkmark
            .col-md-4
              if categories
                h6 Tags
                ul
                  each category in categories
                    li
                      label.container_check
                        | #{category._id}
                        small #{category.count}
                        input(type='checkbox' name="category[]" value=`${category._id}`)
                        span.checkmark
            .col-md-4
              .add_bottom_30
                h6 Distance
                .distance
                  | Radius around selected destination 
                  span
                  |  km
                input(type='range', min='10', max='100', step='10', value='30', data-orientation='horizontal')
                button(type="submit" class="btn_1 rounded add_top_30") Apply Filters
        // /row
        // /Filters
    .container.margin_60_35
      if listings.length
        #list-hits.row
          each listing in listings
            .col-xl-4.col-lg-6.col-md-6
              .strip.grid
                figure
                  //a.wish_bt.bookmark(href='#0')
                  a(href=`/listing/${listing.slug}`)
                    img.img-fluid(src= listing.images && listing.images.length > 0 ? listing.images[0].secure_url : '/img/blog-3.jpg', alt='')
                    .read_more
                      span Read more
                  small #{listing.category}
                .wrapper
                  h3
                    a(href=`/listing/${listing.slug}`) #{listing.title}
                  small #{listing.info ? listing.info.address : ''}
                  p #{listing.description ? `${listing.description.slice(0,25)}...` : ''}
                  a.address(href=`https://maps.google.com/?q=${listing.info.address || ''}`, target='_blank') Get directions
                ul
                  li
                    //- listing.price = 3
                    if listing.info.price
                      - for( var i = 0 ; i < listing.info.price; i++){
                        span(style="color:#32a067") $
                      - }
                  li
                    .score
                      if listing.reviews.length > 0
                        - const getRating = listing.reviews.map( ratings => ratings.rating).reduce((acc,val) => acc + val);
                        - const getAverage = ((getRating * 2)/listing.reviews.length).toFixed(1);
                        - const review = parseInt(getAverage);
                        - let className = "";
                        span
                          if review <= 3
                            - className = "poor";
                            | Poor
                          else if review > 3 && review <= 5
                            - className = "fair";
                            | Fair
                          else if review > 5 && review <= 7
                            - className = "good";
                            | Good
                          else if review > 7 && review <= 10
                            - className = "superb";
                            | Superb
                          em #{listing.reviews.length} Reviews
                        strong(class=className) #{getAverage}
                      //else
                        span
                          | 
                          em 0 Reviews
                        strong 0  
      else
        .row.justify-content-center
          h4 No Results Found
  include partials/paginate.pug
  include partials/footer.pug