doctype html
html(lang='en')
  head
  -var algoliaid = process.env.ALGOLIA_ID;
  -var searchkey = process.env.ALGOLIA_SEARCH;
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='Hotspot - Find the Hottest places in Lagos')
    meta(name='author', content='Hotspot')
    title Hotspot
    block stylesheets
      link(href='https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700', rel='stylesheet')
      link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.css')
      link(href='/css/bootstrap.min.css', rel='stylesheet')
      link(href='/css/style-new.css', rel='stylesheet')
      link(href='/css/vendors.css', rel='stylesheet')
      link(rel="shortcut icon" href="/img/flame.ico" type="image/x-icon")
      link(href='/admin_section/vendor/dropzone.css', rel='stylesheet')
  body
    #page
      block content
    #toTop
    script.
      algoliaid="#{algoliaid}";
      searchkey="#{searchkey}"
    block scripts
      script(src='/js/jquery.min.js')
      script(src='/js/common_scripts.js')
      script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@2.3/dist/instantsearch.min.js')
      script(src='/js/algolia.js')
      script(src="https://unpkg.com/axios/dist/axios.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/1.0.10/purify.js")
      script(src='/js/custom_search.js' type="module")
      script(src='/js/functions.js')
      script(src='/js/animated_canvas.min.js')
      script(src='/assets/validate.js')
      //- script(src="/admin_section/vendor/dropzone/dropzone.js")


  #sign-in-dialog.zoom-anim-dialog.mfp-hide
    .small-dialog-header
      h3 Sign In
    if flashes.signinError
      .alert.alert-danger.alert-dismissible.fade.show
        p.mb-0 Error : #{flashes.signinError}
    form(action="/signin" method="post")
      .sign-in-wrapper
        a.social_bt.facebook(href='/auth/facebook/callback') Login or Sign up with Facebook
        a.social_bt.google(href='#') Login or Sign up with Google
        .divider
          span Or
        .form-group
          label Email
          input#email.form-control(type='email', name='email')
          i.icon_mail_alt
        .form-group
          label Password
          input#password.form-control(type='password', name='password', value='')
          i.icon_lock_alt
        .clearfix.add_bottom_15
          .checkboxes.float-left
            label.container_check
              | Remember me 
              input(type='checkbox')
              span.checkmark
          //.float-right.mt-1
            a#forgot(href='javascript:void(0);') Forgot Password?
        .text-center
          input.btn_1.full-width(type='submit', value='Log In')
        .text-center
          | Don’t have an account? 
          a(href='/register') Sign up
        #forgot_pw
          .form-group
            label Please confirm login email below
            input#email_forgot.form-control(type='email', name='email_forgot')
            i.icon_mail_alt
          p
            | You will receive an email containing a link allowing you to reset
            | your password to a new preferred one.
          .text-center
            input.btn_1(type='submit', value='Reset Password')
          
      script.
        const urlParams = new URLSearchParams(window.location.search);
        const myParam = urlParams.get('showdefaultmodal');
        if(myParam)
          $.magnificPopup.open({
            items: {
            src: '#sign-in-dialog' ,
            type: 'inline'
            }
            // You may add options here, they're exactly the same as for $.fn.magnificPopup call
            // Note that some settings that rely on click event (like disableOn or midClick) will not work here
          });
          document.getElementsByClassName('mfp-close').innerHTML = '';
        $('.launch-signin').magnificPopup({
            type: 'image',
            preloader: false,
            focus: '#email'
        });
        
        document.getElementsByClassName('mfp-close').innerHTML = '';

        
      script.
        $('.bookmark').on('click', function(evt){
          evt.preventDefault();
          var self = this;
          $.ajax({
            type : "POST",
            url : evt.target.action,
            success : function(data){
              var bookmarked = document.querySelector('.bookmark').classList.toggle('btn_bookmark_selected');
              bookmarked ? $('.bookmark button').text('Bookmarked') : $('.bookmark button').text('Bookmark')
            }
          })
        })