extends layout

block append stylesheets
  link(rel="stylesheet", href="/admin_section/vendor/dropzone/dropzone.css")

block content
  div.img-container(style="display: none")
    .d-flex.align-items-center.h-100
      img.mx-auto.loader-img(src="img/loader.gif")
  include partials/navbar.pug
  main.pt-7
    .container.mt-5
      .row
        .col-lg-10.col-md-12.col-12.mx-auto
          .box_account
            .text-center.col-.col-lg-10.col-md-12.col-12.mx-auto
              h3.new_client.text-center Claim Listing

            .box_general.padding_bottom.bg-white
              .header_box.version_2
                h2
                  i.fa.fa-dollar
                  | Upload Documents 
                form.mb-3(action=`/verify-upload/${listingid}` id="myImage" class="dropzone dz-clickable primary-dropzone" method="post")
                  .dz-default.dz-message.text-center
                    span Click to upload multiple Documents
                button.btn.btn-primary.btn_1.medium#saveImage(type="submit") Upload Images

            form.form-row.form_container(action=`/api/verify/${listingid}` method="POST")
              
              if flashes.socialUser
                .form-group.col-12.my-3
                  .alert.alert-success.alert-dismissible.fade.show
                    p.d-inline-block.mb-0 
                      span.icon-ok-circled
                      | #{flashes.socialUser}
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                      span(aria-hidden="true") &times;
              if flashes.userdetails
                .form-group.col-12.my-3
                  .alert.alert-success.alert-dismissible.fade.show
                    p.d-inline-block.mb-0 
                      span.icon-ok-circled
                      | #{flashes.profileEditSuccess}
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                      span(aria-hidden="true") &times;
              if flashes.profileEditError
                .form-group.col-12.my-3
                  .alert.alert-danger.alert-dismissible.fade.show
                    p.mb-0 
                      span.icon-cancel-circled2
                      | #{flashes.profileEditError}
                    button(type="button" class="close" data-dismiss="alert" aria-label="Close")
                      span(aria-hidden="true") &times;
              .form-group.col-12.my-3
                .text-center
                  .icon-user-4(style="font-size : 2rem;")
                  h3.font-weight(style="padding-left : 0px;") Verify Listing
              .form-group.col-md-6.col-12
                label First Name
                input.form-control(type='text', name='owner_first_name', value=(user.first_name) readonly="readonly")
              .form-group.col-md-6.col-12
                label Last Name
                input.form-control(type='text', name='owner_last_name', value=(user.last_name) readonly="readonly")
              .form-group.col-md-6.col-12
                label Listing Name
                input.form-control(type='text', name='title', value=(listing.title) readonly="readonly")
                input.form-control(type='text', name='listing_image', value= listing.images ? listing.images[0] : '' hidden)
                input.form-control(type='text', name='listing_category', value= listing.category hidden)
                input.form-control(type='text', name='listing_slug', value= listing.slug hidden)
              .form-group.text-center.mt-3.col-md-12.col-12
                input.mx-auto.btn_1.half-width.form-control(type='submit' value="Verify")


              //hr
              //.private.box
                .row.no-gutters
                  .col-6.pr-1
                    .form-group
                      input.form-control(type='text', placeholder='Name*')
                  .col-6.pl-1
                    .form-group
                      input.form-control(type='text', placeholder='Last Name*')
                  .col-12
                    .form-group
                      input.form-control(type='text', placeholder='Full Address*')
                // /row
                .row.no-gutters
                  .col-6.pr-1
                    .form-group
                      input.form-control(type='text', placeholder='City*')
                  .col-6.pl-1
                    .form-group
                      input.form-control(type='text', placeholder='Postal Code*')
                  .col-12
                    .form-group
                      .custom-select-form
                        select#country.wide.add_bottom_10(name='country')
                          option(value='', selected='') Country*
                          option(value='Europe') Europe
                          option(value='United states') United states
                          option(value='Asia') Asia
                // /row
                .row
                  .col-md-12
                    .form-group
                      input.form-control(type='text', placeholder='Telephone *')
                // /row
                // /privato
                .company.box(style='display: none;')
                  .row.no-gutters
                    .col-12
                      .form-group
                        input.form-control(type='text', placeholder='Company Name*')
                    .col-12
                      .form-group
                        input.form-control(type='text', placeholder='Full Address')
                  // /row
                  .row.no-gutters
                    .col-6.pr-1
                      .form-group
                        input.form-control(type='text', placeholder='City*')
                    .col-6.pl-1
                      .form-group
                        input.form-control(type='text', placeholder='Postal Code*')
                    .col-12
                      .form-group
                        .custom-select-form
                          select#country.wide.add_bottom_10(name='country')
                            option(value='', selected='') Country*
                            option(value='Europe') Europe
                            option(value='United states') United states
                            option(value='Asia') Asia
                  // /row
                  .row
                    .col-md-12
                      .form-group
                        input.form-control(type='text', placeholder='Telephone *')
                  // /row
                  // /azienda
                  hr
                  .form-group
                    label.container_check
                      | Accept 
                      a(href='#0') Terms and conditions
                      input(type='checkbox')
                      span.checkmark
                  .text-center
                    input.btn_1.full-width(type='submit', value='Register')
            // /form_container
            // /box_account
            // /row
            // /container
  include partials/footer.pug

  style.
    .profile-custom{
      color: #000!important
    }
  block append scripts
    script(src="/admin_section/vendor/dropzone/dropzone.js")
    script.
      Dropzone.options.myImage = {
        autoProcessQueue : false,
        acceptedFiles : '.png,.jpg,.jpeg,.pdf,.doc,.docx',
        uploadMultiple : true,
        maxFilesize : 5,
        maxFiles : 5,
        addRemoveLinks : true,
        init : function(){
          $('#saveImage').on('click', function(e){
            e.preventDefault();
            $('#myImage').get(0).dropzone.processQueue();
            $('.img-container').show();
          })

          this.on('successmultiple', function(file,response){
            $('.img-container').hide();
            //console.log(this.files);
            //console.log(response);
          })

          this.on("maxfilesexceeded", function(file) {
            this.removeFile(file); 
          });

          this.on("error", function(error) {
            console.log(error)
          })
        }
      }